.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;       /* w-8 */
  height: 22px;      /* h-[22px] */
  position: relative;
  z-index: 50;
}

/* Base line */
.burger .line {
  display: block;
  height: 4px;              /* h-1 → 4px */
  background: #171717;      /* neutral-900 */
  border-radius: 4px;       /* rounded */
  transform-origin: center; /* origin-center */
  transition: all 0.3s ease;
}

/* TOP OPEN */
.burger .line--top-open {
  transform: rotate(45deg) translateY(8px);
}

/* MIDDLE OPEN */
.burger .line--middle-open {
  opacity: 0;
}

/* BOTTOM OPEN */
.burger .line--bottom-open {
  transform: rotate(-45deg) translateY(-10px);
}
