.contacts {
    background-image: url(../../../assets/images/fon.jpg);
    /* background-image: url(../../../assets/images/intro-bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}