@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

.center {
  padding-left: calc(50% - 900px);
  padding-right: calc(50% - 900px);
}

@media (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
  }
}